*{
    -webkit-box-sizing: border-box;
}
body{
    background-image: url("fondopractica.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    color: white;
}
body h1{
    text-align: center;
    background-color: turquoise;
    position: sticky;
    top: 0;
    z-index: 30;
    overflow-y: 30;
    width: 100%;
}
#boton{
    width: 50px;
    position: sticky;

}